<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1421542300" android:versionName="14.21.54" android:compileSdkVersion="29" android:compileSdkVersionCodename="10" package="com.google.android.youtube" platformBuildVersionCode="29" platformBuildVersionName="10">
    <uses-sdk android:minSdkVersion="19" android:targetSdkVersion="28"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID_NOTIFICATION"/>
    <uses-permission android:name="com.google.android.youtube.permission.C2D_MESSAGE"/>
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.screen.portrait" android:required="false"/>
    <permission android:name="com.google.android.youtube.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
    <uses-feature android:glEsVersion="20000" android:required="true"/>
    <application android:theme="@style/Theme.YouTube.Light" android:label="@string/application_name" android:icon="@mipmap/ic_launcher" android:name="com.google.android.apps.youtube.app.YouTubeApplication" android:backupAgent="com.google.android.apps.youtube.app.application.backup.YouTubeBackupAgent" android:allowBackup="true" android:restoreAnyVersion="true" android:logo="@drawable/action_bar_logo_release" android:hardwareAccelerated="true" android:largeHeap="true" android:supportsRtl="@bool/supports_rtl" android:networkSecurityConfig="@xml/network_security_config" android:roundIcon="@mipmap/ic_launcher_round">
        <meta-data android:name="com.google.android.gms.phenotype.registration.xml" android:resource="@xml/phenotype"/>
        <meta-data android:name="android.max_aspect" android:value="2.1"/>
        <meta-data android:name="com.google.android.backup.api_key" android:value="AEdPqrEAAAAIXi58ScnYbhPAPl8s4DjDkSik7XGKNcn8YqfZFg"/>
        <meta-data android:name="to.dualscreen" android:value="true"/>
        <meta-data android:name="com.google.android.apps.youtube.config.BuildType" android:value="RELEASE"/>
        <activity android:theme="@style/Theme.YouTube.Launcher" android:name="com.google.android.apps.youtube.app.application.Shell$HomeActivity" android:exported="true"/>
        <activity-alias android:name="com.google.android.youtube.app.honeycomb.Shell$HomeActivity" android:exported="true" android:targetActivity="com.google.android.apps.youtube.app.application.Shell$HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.youtube.action.open.search"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.youtube.action.open.trending"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.youtube.action.open.subscriptions"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="android.app.shortcuts" android:resource="@xml/main_shortcuts"/>
        </activity-alias>
        <activity-alias android:name="com.google.android.youtube.HomeActivity" android:exported="true" android:targetActivity="com.google.android.apps.youtube.app.application.Shell$HomeActivity"/>
        <activity android:theme="@style/Theme.YouTube.Promo" android:name="com.google.android.libraries.youtube.player.features.gl.vr.VrWelcomeActivity" android:exported="false"/>
        <activity android:theme="@style/Theme.YouTube.Home" android:name="com.google.android.apps.youtube.app.search.voice.VoiceSearchActivity" android:exported="false" android:configChanges="orientation|screenSize"/>
        <activity android:theme="@style/Theme.YouTube.Home" android:name="com.google.android.apps.youtube.app.WatchWhileActivity" android:exported="true" android:launchMode="singleTask" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" android:windowSoftInputMode="adjustResize" android:resizeableActivity="true" android:supportsPictureInPicture="true">
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable"/>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.apps.wellbeing.VIEW_APP_USAGE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <receiver android:name="com.google.android.apps.youtube.app.player.SuspendBroadcastReceiver" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_SUSPENDED"/>
            </intent-filter>
        </receiver>
        <activity android:theme="@style/LcAppTheme.NoActionBar" android:name="com.google.android.apps.youtube.app.MainLiveCreationActivity" android:exported="false" android:configChanges="keyboardHidden|orientation|screenSize" android:windowSoftInputMode="adjustResize" android:resizeableActivity="false"/>
        <activity android:theme="@style/Theme.NoDisplay" android:name="com.google.android.apps.youtube.app.application.Shell$ResultsActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
                <action android:name="android.intent.action.MEDIA_SEARCH"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable"/>
        </activity>
        <activity android:theme="@style/Theme.NoDisplay" android:name="com.google.android.apps.youtube.app.application.Shell$UploadActivity" android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.youtube.intent.action.UPLOAD"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="video/*"/>
            </intent-filter>
        </activity>
        <activity-alias android:name="com.google.android.youtube.UploadIntentHandlingActivity" android:exported="true" android:targetActivity="com.google.android.apps.youtube.app.application.Shell$UploadActivity">
            <intent-filter android:label="@string/application_name">
                <action android:name="android.intent.action.SEND"/>
                <action android:name="android.intent.action.SEND_MULTIPLE"/>
                <category android:name="android.intent.category.ALTERNATIVE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="video/*"/>
            </intent-filter>
        </activity-alias>
        <activity android:theme="@style/Theme.YouTube.LaunchYouTubeVrActivity" android:name="com.google.android.apps.youtube.app.vr.LaunchYouTubeVrActivity" android:exported="false" android:configChanges="keyboardHidden|orientation" android:noHistory="true"/>
        <activity android:theme="@style/Theme.YouTube.Launcher" android:name="com.google.android.apps.youtube.app.application.Shell$UrlActivity" android:exported="true"/>
        <activity-alias android:theme="@style/Theme.YouTube.Launcher" android:name="com.google.android.youtube.UrlActivity" android:exported="true" android:targetActivity="com.google.android.apps.youtube.app.application.Shell$UrlActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.media.action.MEDIA_PLAY_FROM_SEARCH"/>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:host="youtube.com"/>
                <data android:host="www.youtube.com"/>
                <data android:host="m.youtube.com"/>
                <data android:host="youtu.be"/>
                <data android:pathPattern=".*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.media.action.MEDIA_PLAY_FROM_SEARCH"/>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="vnd.youtube"/>
                <data android:scheme="vnd.youtube.launch"/>
            </intent-filter>
        </activity-alias>
        <activity android:theme="@style/Theme.NoDisplay" android:name="com.google.android.apps.youtube.app.application.Shell$MediaSearchActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.media.action.MEDIA_PLAY_FROM_SEARCH"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:theme="@style/Theme.NoDisplay" android:name="com.google.android.apps.youtube.app.application.Shell$SettingsActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.NOTIFICATION_PREFERENCES"/>
            </intent-filter>
        </activity>
        <activity-alias android:theme="@style/Theme.NoDisplay" android:label="@string/settings" android:name="com.google.android.youtube.ManageNetworkUsageActivity" android:enabled="false" android:exported="true" android:targetActivity="com.google.android.apps.youtube.app.application.Shell$SettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MANAGE_NETWORK_USAGE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity-alias>
        <activity android:theme="@style/Theme.YouTube.Launcher" android:name="com.google.android.apps.youtube.app.application.Shell$LiveCreationActivity" android:enabled="@bool/enable_live_creation" android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.youtube.intent.action.CREATE_LIVE_STREAM"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <meta-data android:name="android.app.default_searchable" android:value="com.google.android.apps.youtube.app.honeycomb.Shell$ResultsActivity"/>
        <service android:name="com.google.android.libraries.youtube.common.gcore.gcoreclient.gcm.impl.GcmTaskServiceDelegator" android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE" android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY"/>
            </intent-filter>
        </service>
        <service android:name="com.google.android.libraries.youtube.common.backgroundtask.firebase.FirebaseJobDispatcherService" android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE"/>
            </intent-filter>
        </service>
        <service android:name="com.google.android.libraries.youtube.offline.transfer.service.OfflineTransferService" android:exported="false"/>
        <service android:name="com.google.android.libraries.youtube.upload.service.UploadService" android:exported="false"/>
        <receiver android:name="com.google.android.libraries.youtube.upload.service.UploadsBootReceiver" android:enabled="false" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <service android:name="com.google.android.libraries.youtube.player.background.service.BackgroundPlayerService" android:exported="false"/>
        <receiver android:name="com.google.android.libraries.youtube.player.PlayerUiModule$LegacyMediaButtonIntentReceiver" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
            </intent-filter>
        </receiver>
        <activity android:theme="@style/Theme.YouTube.GalleryActivity" android:label="@string/gallery_activity_title" android:name="com.google.android.libraries.youtube.edit.gallery.GalleryActivity" android:exported="false"/>
        <activity android:theme="@style/Theme.YouTube.CropActivity" android:name="com.google.android.libraries.youtube.account.photo.CropActivity" android:exported="false"/>
        <activity android:theme="@style/Theme.YouTube.GalleryActivity" android:name="com.google.android.libraries.youtube.comment.image.ImageGalleryActivity" android:exported="false"/>
        <activity android:name="com.google.android.libraries.youtube.comment.image.ImageViewerActivity" android:exported="false"/>
        <activity android:theme="@style/Theme.Translucent.NoTitleBar" android:name="net.openid.appauth.RedirectUriReceiverActivity" android:exported="true" android:process="" android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="vnd.youtube.gdi"/>
            </intent-filter>
        </activity>
        <service android:name="com.google.android.apps.youtube.app.common.notification.FcmMessageListenerService" android:enabled="true" android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <provider android:name="com.google.android.apps.youtube.app.common.util.MainAppFileProviderCompat" android:exported="false" android:authorities="com.google.android.youtube.fileprovider" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_provider_exported_paths"/>
        </provider>
        <provider android:name="com.google.android.apps.youtube.app.search.suggest.YouTubeSuggestionProvider" android:exported="false" android:authorities="com.google.android.youtube.SuggestionProvider"/>
        <receiver android:name="com.google.android.apps.youtube.app.PackageReplacedReceiver" android:enabled="@bool/enable_package_replaced_receiver" android:exported="@bool/enable_package_replaced_receiver">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver>
        <activity android:theme="@style/Theme.Black.NoTitleBar.Fullscreen" android:label="@string/api_standalone_player_activity_name" android:name="com.google.android.youtube.api.StandalonePlayerActivity" android:permission="android.permission.INTERNET" android:exported="true" android:process="com.google.android.youtube.player" android:configChanges="keyboardHidden|orientation|screenSize" android:visibleToInstantApps="true">
            <meta-data android:name="instantapps.clients.allowed" android:value="true"/>
            <intent-filter>
                <action android:name="com.google.android.youtube.api.StandalonePlayerActivity.START"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <service android:label="@string/api_service_name" android:name="com.google.android.youtube.api.service.YouTubeService" android:permission="android.permission.INTERNET" android:exported="true" android:process="com.google.android.youtube.player" android:visibleToInstantApps="true">
            <meta-data android:name="instantapps.clients.allowed" android:value="true"/>
            <intent-filter>
                <action android:name="com.google.android.youtube.api.service.START"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>
        <service android:label="@string/embed_firebase_service_name" android:name="com.google.android.youtube.api.service.EmbedFirebaseJobDispatcherService" android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE"/>
            </intent-filter>
        </service>
        <receiver android:name="com.google.android.libraries.youtube.account.AccountsChangedReceiver" android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.LOGIN_ACCOUNTS_CHANGED"/>
            </intent-filter>
        </receiver>
        <service android:name="com.google.android.libraries.youtube.account.AccountsChangedJobIntentService" android:permission="android.permission.BIND_JOB_SERVICE" android:exported="false"/>
        <receiver android:name="com.google.android.libraries.youtube.notification.NotificationInteractionBroadcastReceiver" android:exported="false"/>
        <service android:name="com.google.android.libraries.youtube.notification.NotificationProcessingService" android:exported="false"/>
        <service android:name="com.google.android.libraries.youtube.notification.NotificationProcessingJobService" android:permission="android.permission.BIND_JOB_SERVICE" android:exported="false"/>
        <service android:name="com.google.android.libraries.youtube.notification.NotificationInteractionService" android:exported="false"/>
        <service android:name="com.google.android.libraries.youtube.notification.NotificationInteractionJobService" android:permission="android.permission.BIND_JOB_SERVICE" android:exported="false"/>
        <activity android:name="com.google.android.apps.youtube.app.application.log.LogCollectorActivity" android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.youtube.action.bugreport"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <service android:name="com.google.android.apps.youtube.app.application.system.LocaleUpdatedJobService" android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE"/>
            </intent-filter>
        </service>
        <receiver android:name="com.google.android.apps.youtube.app.application.system.LocaleUpdatedReceiver" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.LOCALE_CHANGED"/>
            </intent-filter>
        </receiver>
        <activity android:theme="@style/NewVersionUpgradeActivity" android:name="com.google.android.apps.youtube.app.application.upgrade.NewVersionAvailableActivity" android:exported="false" android:launchMode="singleTask" android:configChanges="keyboardHidden|screenSize"/>
        <service android:name="com.google.android.apps.youtube.app.common.ads.AdIdListenerService" android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.ads.identifier.BIND_LISTENER"/>
            </intent-filter>
        </service>
        <activity android:theme="@style/Theme.YouTube.AudioSelection" android:label="@string/upload_edit_audio_swap_audio_selection_title" android:name="com.google.android.libraries.youtube.edit.audioswap.ui.AudioSelectionActivity" android:exported="false"/>
        <service android:name="com.google.android.apps.youtube.app.extensions.mediabrowser.impl.MainAppMediaBrowserService" android:exported="true">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService"/>
            </intent-filter>
        </service>
        <activity android:theme="@style/ReelTheme.NoActionBar.FullScreen.Dark" android:name="com.google.android.apps.youtube.app.extensions.reel.watch.activity.ReelWatchActivity" android:exported="false" android:launchMode="singleTop" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="adjustResize"/>
        <activity android:theme="@style/ReelTheme.NoActionBar.FullScreen.Dark" android:name="com.google.android.apps.youtube.app.extensions.reel.edit.activity.ReelCameraActivity" android:exported="false" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden"/>
        <activity android:theme="@style/Theme.YouTube.EditVideoActivity" android:label="@string/edit_video_form_title" android:name="com.google.android.apps.youtube.app.extensions.upload.EditVideoActivity" android:exported="false" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden"/>
        <activity android:theme="@style/Theme.YouTube.UploadActivity" android:label="@string/upload_edit_video_title" android:name="com.google.android.apps.youtube.app.extensions.upload.UploadActivity" android:exported="false" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="com.google.android.youtube.intent.action.INTERNAL_UPLOAD"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="video/*"/>
            </intent-filter>
        </activity>
        <activity android:name="com.google.android.apps.youtube.app.settings.developer.DebugShowOfflineQueueActivity" android:exported="false"/>
        <activity android:name="com.google.android.apps.youtube.app.settings.developer.DebugOnlineAdActivity" android:exported="false"/>
        <activity android:name="com.google.android.apps.youtube.app.settings.developer.DebugForceInnertubeCapabilitiesActivity" android:exported="false"/>
        <activity android:name="com.google.android.apps.youtube.app.settings.developer.DebugSpacecastActivity" android:exported="false"/>
        <activity android:name="com.google.android.apps.youtube.app.settings.developer.DebugMobileDataPlanActivity" android:exported="false"/>
        <activity android:theme="@style/Theme.YouTube.Settings" android:label="@string/settings" android:name="com.google.android.apps.youtube.app.settings.SettingsActivity" android:exported="false" android:configChanges="keyboardHidden"/>
        <activity android:theme="@style/GDI.AppAuthReceiver" android:name="com.google.android.libraries.deepauth.appauth.AppAuthReceiverActivity" android:exported="false" android:process=""/>
        <activity android:theme="@style/GDI.AppAuthReceiver" android:name="com.google.android.libraries.deepauth.appauth.AppAuthCancellationReceiverActivity" android:exported="false" android:process=""/>
        <activity android:theme="@style/GDI.Invisible" android:name="net.openid.appauth.AuthorizationManagementActivity" android:exported="false" android:process="" android:launchMode="singleTask"/>
        <activity android:theme="@style/GDI.Consent" android:name="com.google.android.libraries.deepauth.ConsentActivity" android:exported="false" android:process=""/>
        <activity android:theme="@style/GDI.Consent" android:name="com.google.android.libraries.deepauth.accountcreation.ui.BbbConsentActivity" android:exported="false" android:process=""/>
        <activity android:theme="@style/GDI.Invisible" android:name="com.google.android.libraries.deepauth.ActivityController" android:exported="false" android:process=""/>
        <activity android:theme="@style/GDI.AccountChooser" android:name="com.google.android.libraries.deepauth.accountcreation.AccountChooserActivity" android:exported="false" android:process=""/>
        <activity android:theme="@style/GDI.AccountChooser" android:name="com.google.android.libraries.deepauth.accountcreation.ui.BbbAccountChooserActivity" android:exported="false" android:process=""/>
        <activity android:theme="@style/GDI.CreateAccount" android:name="com.google.android.libraries.deepauth.accountcreation.CreateAccountActivity" android:exported="false" android:process=""/>
        <activity android:theme="@style/GDI.CreateAccount" android:name="com.google.android.libraries.deepauth.accountcreation.ui.BbbCreateAccountActivity" android:exported="false" android:process=""/>
        <activity android:theme="@style/Theme.AppCompat.Light" android:label="@string/preferences_license_title" android:name="com.google.android.libraries.social.licenses.LicenseMenuActivity" android:exported="true"/>
        <activity android:theme="@style/Theme.AppCompat.Light" android:label="@string/preferences_license_title" android:name="com.google.android.libraries.social.licenses.LicenseActivity" android:exported="false"/>
        <receiver android:name="com.google.android.libraries.youtube.common.customtabs.CustomTabsReceiver" android:exported="false"/>
        <provider android:name="android.arch.lifecycle.ProcessLifecycleOwnerInitializer" android:enabled="false" android:exported="false" android:multiprocess="true" android:authorities="com.google.android.youtube.lifecycle-trojan"/>
        <activity android:theme="@style/LcAppTheme.NoActionBar" android:name="com.google.android.libraries.youtube.livecreation.ui.LiveCreationActivity" android:exported="false" android:configChanges="keyboardHidden|orientation|screenSize" android:windowSoftInputMode="adjustResize" android:resizeableActivity="false"/>
        <service android:name="com.google.android.libraries.youtube.mdx.background.MdxBackgroundScanJobService" android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE"/>
            </intent-filter>
        </service>
        <receiver android:name="com.google.android.libraries.youtube.mdx.background.MdxBackgroundScanBootReceiver" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.google.android.libraries.youtube.mdx.background.MdxBackgroundPlaybackBroadcastReceiver" android:exported="false"/>
        <meta-data android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME" android:value="com.google.android.libraries.gcoreclient.cast.framework.impl.CastOptionsProviderImpl"/>
        <meta-data android:name="com.google.android.libraries.gcoreclient.cast.framework.OPTIONS_PROVIDER_CLASS_NAME" android:value="com.google.android.libraries.youtube.mdx.castclient.CastOptionsProvider"/>
        <service android:name="com.google.android.libraries.youtube.mdx.mediaroute.RemotePlaybackControlsService" android:exported="false"/>
        <receiver android:name="com.google.android.libraries.youtube.mdx.notification.ContinueWatchingOnTvNotificationBroadcastReceiver" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.google.android.libraries.youtube.mdx.notification.LocalNotificationsBroadcastReceiver" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <activity android:theme="@style/Mdx.Theme.Settings" android:name="com.google.android.libraries.youtube.mdx.smartpairing.PairWithTvActivity" android:exported="false" android:configChanges="keyboardHidden"/>
        <activity android:theme="@style/Mdx.Theme.SmartRemote" android:name="com.google.android.libraries.youtube.mdx.smartremote.MdxSmartRemoteActivity" android:exported="false" android:screenOrientation="portrait" android:configChanges="keyboardHidden"/>
        <activity android:theme="@style/Mdx.TvSignIn.FullScreen" android:name="com.google.android.libraries.youtube.mdx.tvsignin.TvSignInActivity" android:exported="false" android:screenOrientation="portrait" android:configChanges="keyboardHidden"/>
        <meta-data android:name="firebase_analytics_collection_enabled" android:value="false"/>
        <activity android:name="com.google.android.libraries.youtube.offline.developer.DebugOfflineActivity" android:exported="false"/>
        <activity android:name="com.google.android.libraries.youtube.offline.developer.DebugOfflineResyncActivity" android:exported="false"/>
        <activity android:name="com.google.android.libraries.youtube.offline.developer.DebugOfflineAutoOfflineActivity" android:exported="false"/>
        <activity android:name="com.google.android.libraries.youtube.offline.developer.DebugOfflinePlaylistAutoSyncActivity" android:exported="false"/>
        <activity android:name="com.google.android.libraries.youtube.offline.developer.DebugOfflineAdActivity" android:exported="false"/>
        <activity android:name="com.google.android.libraries.youtube.offline.developer.DebugOfflineDatabaseActivity" android:exported="false"/>
        <activity android:name="com.google.android.libraries.youtube.offline.developer.DebugOfflineStreamsActivity" android:exported="false"/>
        <activity android:name="com.google.android.libraries.youtube.offline.developer.DebugOfflineVideosActivity" android:exported="false"/>
        <activity android:name="com.google.android.libraries.youtube.offline.developer.DebugOfflineStoreActivity" android:exported="false"/>
        <activity android:name="com.google.android.libraries.youtube.offline.developer.DebugOfflineStartupLatencyActivity" android:exported="false"/>
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <activity android:name="com.google.android.libraries.youtube.upload.developer.DebugUploadActivity" android:exported="false"/>
        <service android:name="com.google.apps.tiktok.concurrent.AndroidFutures$RefCountedService" android:exported="false"/>
        <service android:name="com.google.apps.tiktok.concurrent.InternalForegroundService" android:exported="false"/>
        <activity android:theme="@style/Theme.Translucent" android:name="com.google.android.gms.ads.AdActivity" android:exported="false" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
        <receiver android:name="com.google.android.gms.analytics.AnalyticsReceiver" android:enabled="true" android:exported="false"/>
        <service android:name="com.google.android.gms.analytics.AnalyticsService" android:enabled="true" android:exported="false"/>
        <service android:name="com.google.android.gms.analytics.AnalyticsJobService" android:permission="android.permission.BIND_JOB_SERVICE" android:enabled="true" android:exported="false"/>
        <activity android:theme="@style/Theme.Translucent.NoTitleBar" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:exported="false"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <receiver android:name="com.google.android.gms.cast.framework.media.MediaIntentReceiver" android:exported="false"/>
        <service android:name="com.google.android.gms.cast.framework.media.MediaNotificationService" android:exported="false"/>
        <service android:name="com.google.android.gms.cast.framework.ReconnectionService" android:exported="false"/>
        <service android:name="com.google.firebase.components.ComponentDiscoveryService">
            <meta-data android:name="com.google.firebase.components:com.google.firebase.iid.Registrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <receiver android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:permission="com.google.android.c2dm.permission.SEND" android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </receiver>
        <service android:name="com.google.firebase.iid.FirebaseInstanceIdService" android:exported="true">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <service android:name="com.google.firebase.messaging.FirebaseMessagingService" android:exported="true">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:name="com.firebase.jobdispatcher.GooglePlayReceiver" android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE" android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY"/>
            </intent-filter>
        </service>
    </application>
</manifest>
